<%= render :partial => 'admin/shared/purchase_order_sub_menu' %>
<div class="toolbar order-links">
    <%= button_link_to t("edit"), edit_admin_purchase_order_url(@purchase_order), :icon => 'edit' %>
</div>

<%= render :partial => 'admin/shared/purchase_order_tabs', :locals => {:current => "Purchase Order Details"} %>

<div class="adr">
  <h4>
    <%= t(:supplier_address_title) %>
  </h4>
    <%= render :partial => 'admin/shared/supplier_details', :locals => {:supplier => @purchase_order.supplier} %>   
</div>

<%= render :partial => 'admin/shared/purchase_order_details', :locals => {:order => @purchase_order} -%>

